body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.layout-positioner {
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
}

.main-header-logo {
  position: absolute;
  left: 530px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 15px 71px;
  list-style: none;
}

.site-navigation li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  padding-right: 31px;
}

.site-navigation li:nth-child(n+3) {
  text-align: right;
}

.site-navigation li:nth-child(2) {
  padding-left: 28px;
}

.site-navigation a {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.302);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:active {
  color: #766357;
}

.welcome-title {
  height: 510px;
  background-image: url("../img/backgroundphoto.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
  background-color: #deecf5;
}

.welcome-title img {
  position: absolute;
  top: 132px;
  left: 370px;
}

.welcome-title::before {
  content: "";
  position: absolute;
  top: 509px;
  left: 0;
  width: 1200px;
  height: 59px;
  background-image: url("../img/svg-sedona/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slogan p {
  margin: 0;
}

.slogan {
  padding-top: 60px;
  padding-bottom: 51px;
}

.slogan .slogan-text {
  max-width: 440px;
  margin-bottom: 30px;
  margin-left: 380px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

.subslogan {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  background-color: #ffffff;
}

.features {
  margin: 0;
  padding: 0;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding-top: 48px;
  padding-bottom: 54px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-info h3 {
  max-width: 151px;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 124px;
  padding-right: 118px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-info p {
  margin: 0;
  margin-top: 22px;
  margin-right: 47px;
  margin-left: 47px;
}

.feature-item figure {
  width: 800px;
  height: 256px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

.city {
  background-image: url("../img/city.jpg");
  background-color: #938e81;
}

.devilbridge {
  background-image: url("../img/devilbridge.jpg");
  background-color: #d6856d;
}

.sublist-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.sublist-one li {
  width: 400px;
  padding-bottom: 82px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}

.subclause,
.subclause-two {
  list-style: none;
}

.subclause h3 {
  position: relative;
  margin: 0;
  margin-bottom: 23px;
  padding-top: 164px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.subclause p {
  margin: 0;
  margin-right: 50px;
  margin-left: 50px;
}

.house::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url("../img/svg-sedona/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.food::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 74px;
  height: 70px;
  background-image: url("../img/svg-sedona/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.souvenir::after {
  content: "";
  position: absolute;
  top: 56px;
  left: 168px;
  width: 64px;
  height: 76px;
  background-image: url("../img/svg-sedona/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sublist-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
  background-color: #eeeeee;
}

.sublist-two li {
  width: 400px;
  padding-top: 48px;
  padding-bottom: 58px;
  text-align: center;
}

.subclause-two h3 {
  margin: 0;
  margin-bottom: 23px;
  padding-right: 138px;
  padding-left: 138px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #eeeeee;
}

.subclause-two p {
  margin: 0;
  margin-right: 69px;
  margin-left: 69px;
  margin-top: 21px;
}

.search {
  position: relative;
  margin: 0;
  padding: 0;
}

.search-subtitle {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

.search .text {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 47px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;

  background-color: #ffffff;
}

.button-search {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 100px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  background-color: #766357;
}

.button-search:hover {
  background-color: #604e43;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #503e33;
}

.search-form {
  display: none;
  position: absolute;
  z-index: 3;
  left: 316px;
  top: 291px;
  width: 458px;
  padding: 55px;
  background-color: #ffffff;
}

.form-show {
  display: block;
  -webkit-animation: bounce 0.5s;
          animation: bounce 0.5s;
}

.form-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

.search-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-line label {
  margin-right: 41px;
}

.search-line .children {
  margin-right: 27px;
}

input[name="date-check-in"],
input[name="date-check-out"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 346px;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 36px;
}

.search-item input:nth-child(n+3) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 10px 15px;
}

.search-item input {
  font: inherit;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.calendar-check-in,
.calendar-check-out {
  position: absolute;
  right: 64px;
}

.calendar-check-in {
  top: 63px;
}

.calendar-check-out {
  top: 130px;
}

.calendar-check-in:hover path,
.calendar-check-out:hover path {
  fill: #000000;
}

.calendar-check-out:active path,
.calendar-check-in:active path {
  fill: #81b3d2;
}

.search-item button {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.button-minus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  top: 18px;
  left: 13px;
  background-color: #a9a9a9;
}

.button-plus::before,
.button-plus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  top: 18px;
  left: 13px;
  background-color: #a9a9a9;
}

.button-plus::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.button-plus:hover::before,
.button-plus:hover::after,
.button-minus:hover::after {
  background-color: #000000;
}

.button-plus:active::before,
.button-plus:active::after,
.button-minus:active::after {
  background-color: #81b3d2;
}

.button-find {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: 24px;
  padding: 17px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button-find:hover {
  background-color: #669ec0;
}

.button-find:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #5496bd;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    padding-top: 10px;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding-top: 55px;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    padding-top: 10px;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding-top: 55px;
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.filters {
  min-height: 217px;
  background-image: url("../img/filterbackground.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;
  background-color: #756867;
}

.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 28px;
  padding-right: 71px;
  padding-left: 71px;
  color: #ffffff;
  text-transform: uppercase;
}

.filters-form fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.filters-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.filters-form ul {
  width: 240px;
  margin: 0;
  margin-right: 14px;
  padding: 0;
  list-style: none;
  line-height: 21px;
}

.filter-checkbox {
  margin-top: 24px;
  padding-left: 39px;
  list-style: none;
}

.filter-input-checkbox {
  display: none;
}

.filter-checkbox label {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -38px;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg-sedona/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label::after {
  content: "";
  position: absolute;
  left: -38px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/svg-sedona/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range {
  width: 327px;
  margin-left: auto;
}

.filter-range h3 {
  margin: 0;
  margin-bottom: 9px;
  padding-left: 7px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  margin-left: 7px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 57px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 7px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-right: 71px;
  padding-left: 71px;
}

.sorting-number h3 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.sorting-species {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 48px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

.sorting p {
  margin: 0;
}

.sorting-species-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting-species-list li {
  list-style: none;
  margin-left: 34px;
}

.sorting-species-list a {
  border-bottom: 1px dotted #81b3d2;
  color: rgba(0, 0, 0, 0.302);
}

.sorting-species-list a:hover {
  color: #81b3d2;
}

.sorting-species-list a:active {
  color: #000000;
  border-bottom: 0;
}

.sorting-price a,
.sorting-price a:hover,
.sorting-price a:active {
  border-bottom: 0;
  color: #81b3d2;
}

.sorting-succession {
  margin-left: auto;
}

.icon-dir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.icon-dir li {
  list-style: none;
  margin-left: 12px;
}

.icon-up-dir path:hover {
  fill: #000000;
}

.icon-up-dir path:active {
  fill: #81b3d2;
}

.icon-down-dir path,
.icon-down-dir path:hover,
.icon-down-dir path:active {
  fill: #81b3d2;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-list .catalog-hotel:first-child {
  border-top: 1px solid #e5e5e5;
}

.catalog-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 29px;
  padding-right: 71px;
  padding-left: 71px;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-hotel figure {
  height: 91px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  padding-top: 5px;
}

.hotels-info h3 {
  margin: 0;
  padding: 0;
}

.hotels-info a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.hotels-info a:hover {
  color: #81b3d2;
}

.hotels-info a:active {
  color: rgba(0, 0, 0, 0.302);
}

.hotels-info-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 259px;
  padding-top: 8px;
}

.hotels-column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotels-column-left a {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}

.hotels-column-left a:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.hotels-column-left a:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #5496bd;
}

.hotels-column-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotels-column-right a {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.hotels-column-right a:hover {
  color: #ffffff;
  background-color: #604e43;
}

.hotels-column-right a:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #503e33;
}

.button-more {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 111px;
  margin-top: 13px;
  padding: 3px 15px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.hotels-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 142px;
  margin-top: 13px;
  padding: 3px 15px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.hotels-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  padding-top: 5px;
}

.hotels-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-stars li {
  margin-left: 6px;
  width: 18px;
  height: 17px;
  background-image: url("../img/svg-sedona/star.svg");
  background-repeat: no-repeat;
}

.rating {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px 12px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
}

.main-footer {
  position: absolute;
  z-index: 2;
  width: 1200px;
  background-color: #ffffff;
  opacity: 0.902;
  -webkit-box-shadow: 0px 12px 15px 5px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 12px 15px 5px rgba(0, 1, 1, 0.2);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  padding-bottom: 50px;
  padding-right: 71px;
  padding-left: 71px;
}

.main-footer p {
  margin: 0;
}

.hashtag {
  width: 240px;
  margin: 0;
  padding-left: 10px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  padding-right: 10px;
  list-style: none;
}

.footer-social .social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.302);
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 241px;
  text-align: center;
}

.website {
  padding-left: 5px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}

.button-academy:hover path {
  fill: #81b3d2;
}

.button-academy:active path {
  fill: rgba(0, 0, 0, 0.302);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.map {
  width: 1200px;
  height: 473px;
  background-color: #f2f1ef;
}

.map p {
  position: absolute;
  top: 2170px;
  left: 0;
  z-index: 1;
  margin: 0;
}

.map iframe {
  position: relative;
  z-index: 2;

  border: none;
}
